In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('/Users/fish/Downloads/ipDB.db')
c = conn.cursor()

ipwhois_table = pd.read_sql('select * from ipwhois', conn)
ipwhois_table.head()

               ip  count                             ip_detail_column location
0  196.64.118.155     40                                  MT-MPLS, MA       MA
1    31.13.127.43      1                FACEBOOK - Facebook, Inc., US       US
2  116.26.141.254      2  CHINANET-BACKBONE No.31,Jin-rong Street, CN       CN
3    65.49.68.164      8       HURRICANE - Hurricane Electric LLC, US       US
4  111.225.147.77      3  CHINANET-BACKBONE No.31,Jin-rong Street, CN       CN

In [9]:
location_list = []
ip_detail_list = []

for detail in ipwhois_table['ip_detail_column']:
    try:
        location_list.append(detail[-2:])
        ip_detail_list.append(detail[:-4])
    except:
        location_list.append(None)
        ip_detail_list.append(None)

ipwhois_table['location'] = location_list
ipwhois_table['ip_detail_column'] = ip_detail_list
ipwhois_table.head()

               ip  count                         ip_detail_column location
0  196.64.118.155     40                                  MT-MPLS       MA
1    31.13.127.43      1                FACEBOOK - Facebook, Inc.       US
2  116.26.141.254      2  CHINANET-BACKBONE No.31,Jin-rong Street       CN
3    65.49.68.164      8       HURRICANE - Hurricane Electric LLC       US
4  111.225.147.77      3  CHINANET-BACKBONE No.31,Jin-rong Street       CN

In [10]:
ipwhois_table.to_sql('ipwhois2', conn, if_exists='replace', index = False)