In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# from ipwhois import IPWhois

In [2]:
organization_data = pd.read_csv('/log/dataset-organization.csv', header=None, names = ['org', 'ip', 'dataset', 'download', 'date', 'size', 'requests','agent'])
organization_data['date'] = pd.to_datetime(organization_data['date'], format= '%d/%b/%Y:%H:%M:%S +0800', utc=True)
#organization_data.sort_values('date', inplace=True)
#orgdata_range = organization_data[(organization_data['date'] > '2019-01-01') & (organization_data['date'] < '2019-08-02')]
orgdata_range1 = organization_data[(organization_data['date'] < '2019-02-28')]
orgdata_range4 = organization_data[(organization_data['date'] < '2019-05-31')]
orgdata_range7 = organization_data[(organization_data['date'] < '2019-08-31')]

In [3]:
# 分類
cdict = [
    "medicial",
    "voice",
    "secure",
    "environment",
    "traffic",
    "research",
    "life",
    "gov"
]

definecate = {
    "aclclp_tw" : "voice",
    "aidm" : "research",
    "cdc-mohw-gov-tw" : "medicial",
    "civiliot" : "life",
    "datamarket" : "research",
    "floss-community-auto-public" : "life",
    "i-scipark" : "research",
    "information-security-open-data" : "secure",
    "ipgod-nchc" : "gov",
    "most-acad-upload" : "research",
    "most-iucrp" : "research",
    "most-upload" : "research",
    "narl-nspo" : "traffic",
    "narl-stpi" : "voice",
    "nchc-clean-data" : "life",
    "nchc_restricted" : "research",
    "nchcdr" : "environment",
    "nchcbio" : "medicial",
    "nchclife" : "life",
    "nchcmanufacturing" : "life",
    "noaa" : "environment",
    "ntuh" : "medicial",
    "sinicaedutw" : "voice",
    "tcia_data" : "medicial",
    "tmu" : "medicial",
    "tutorial01" : "research",
    "uci_machine_learning_repository" : "research",
    "v1" : "medicial"
}

odict = [
    "research_dep",
    "other_dep",
    "gov_dep",
    "ind_dep"
]

defineOrgcate = {
    "aclclp_tw" : "gov_dep",
    "aidm" : "research_dep",
    "cdc-mohw-gov-tw" : "gov_dep",
    "civiliot" : "research_dep",
    "datamarket" : "research_dep",
    "floss-community-auto-public" : "research_dep",
    "i-scipark" : "gov_dep",
    "information-security-open-data" : "research_dep",
    "ipgod-nchc" : "gov_dep",
    "most-acad-upload" : "gov_dep",
    "most-iucrp" : "ind_dep",
    "most-upload" : "gov_dep",
    "narl-nspo" : "gov_dep",
    "narl-stpi" : "gov_dep",
    "nchc-clean-data" : "research_dep",
    "nchc_restricted" : "research_dep",
    "nchcdr" : "research_dep",
    "nchcbio" : "research_dep",
    "nchclife" : "research_dep",
    "nchcmanufacturing" : "research_dep",
    "noaa" : "research_dep",
    "ntuh" : "other_dep",
    "sinicaedutw" : "research_dep",
    "tcia_data" : "research_dep",
    "tmu" : "other_dep",
    "tutorial01" : "research_dep",
    "uci_machine_learning_repository" : "research_dep",
    "v1" : "other_dep"
}

orgcate = pd.Series(definecate, index = definecate.keys())
depcate = pd.Series(defineOrgcate, index = defineOrgcate.keys())
#catedf = pd.DataFrame(orgcate,columns=['orgName','orgCate'])
#orgcate.values
catedf = pd.DataFrame({'org':orgcate.index, 'orgCate':orgcate.values})
depdf = pd.DataFrame({'org':depcate.index, 'department':depcate.values})
#catedf
depdf
org_attribute = pd.merge(depdf,catedf, on='org')
org_attribute

      department                              org      orgCate
0   research_dep                       datamarket     research
1        ind_dep                       most-iucrp     research
2        gov_dep                       ipgod-nchc          gov
3      other_dep                               v1     medicial
4        gov_dep                      most-upload     research
5   research_dep                             aidm     research
6   research_dep                  nchc_restricted     research
7        gov_dep                        aclclp_tw        voice
8   research_dep      floss-community-auto-public         life
9   research_dep                         civiliot         life
10  research_dep                        tcia_data     medicial
11  research_dep                           nchcdr  environment
12     other_dep                              tmu     medicial
13       gov_dep                        i-scipark     research
14  research_dep                  nchc-clean-data         life
15  research_dep                             noaa  environment
16  research_dep                       tutorial01     research
17  research_dep                nchcmanufacturing         life
18  research_dep   information-security-open-data       secure
19       gov_dep                        narl-stpi     research
20  research_dep                      sinicaedutw        voice
21     other_dep                             ntuh     medicial
22       gov_dep                 most-acad-upload     research
23       gov_dep                        narl-nspo      traffic
24       gov_dep                  cdc-mohw-gov-tw     medicial
25  research_dep  uci_machine_learning_repository     research
26  research_dep                          nchcbio     medicial
27  research_dep                         nchclife         life

In [4]:
all_org_count_range1 = pd.DataFrame({'count1' : orgdata_range1.groupby(['org']).size()}).reset_index()
all_org_count_range4 = pd.DataFrame({'count4' : orgdata_range4.groupby(['org']).size()}).reset_index()
all_org_count_range7 = pd.DataFrame({'count7' : orgdata_range7.groupby(['org']).size()}).reset_index()
#all_org_count_range1.org
#result = pd.concat([all_org_count_range1, all_org_count_range4, all_org_count_range7], axis=1, sort=False)
#result.to_csv('/home/thomas/ww/scidm_log/Result_all_browse.csv')

all_range_count_page = pd.merge(all_org_count_range1, all_org_count_range4, on='org')
all_range_count_page = pd.merge(all_range_count_page, all_org_count_range7, on='org')
all_range_count_page

                                org   count1   count4   count7
0                             False  2508421  3825119  5207992
1                              aidm    10880    78294    85648
2                        datamarket     2595     8562    10274
3       floss-community-auto-public    35127   101152   108953
4                           gov-wra     6458     9173    13592
5                         i-scipark     3587     6882     8584
6    information-security-open-data     4272     5783     7038
7                        ipgod-nchc   108970   146350   254653
8                  most-acad-upload     1611     1961     2793
9                        most-iucrp       30       34       81
10                      most-upload      597      831      983
11                        narl-nspo     3100     7402    13577
12                  nchc-clean-data    33942    45965    64618
13                  nchc_restricted      609      725     1169
14                             noaa      436      679      859
15                             ntuh     1256    19791    21109
16                      sinicaedutw       97      826     2626
17                        tcia_data    56793    95594   108781
18                              tmu      480     2330     2847
19                       tutorial01     1838    28627    29933
20  uci_machine_learning_repository    14408    24416    32583
21                               v1     1805     5948     7453

In [5]:
#orgdata_range.loc[orgdata_range['org'] == 'aidm']
orgdata_range1_u = orgdata_range1.groupby(['org'])['dataset'].nunique()
orgdata_range4_u = orgdata_range4.groupby(['org'])['dataset'].nunique()
orgdata_range7_u = orgdata_range7.groupby(['org'])['dataset'].nunique()
all_range_count_u = pd.merge(orgdata_range1_u, orgdata_range4_u, on='org')
all_range_count_u = pd.merge(all_range_count_u, orgdata_range7_u, on='org')
#print(orgdata_range1_u)
#print(orgdata_range4_u)
#print(orgdata_range7_u)
all_range_count_page_u = all_range_count_u

all_range_count_page_u

                                 dataset_x  dataset_y  dataset
org
False                                    1          1        1
aidm                                    20         20       21
datamarket                               5          6        6
floss-community-auto-public             18         21       23
gov-wra                                160        161      164
i-scipark                               10         12       12
information-security-open-data           9          9        9
ipgod-nchc                            8947      10961    19783
most-acad-upload                        24         32       40
most-iucrp                               2          2        2
most-upload                              3          3        4
narl-nspo                               24         24       24
nchc-clean-data                         89        129      549
nchc_restricted                         19         20       20
noaa                                     3          3        3
ntuh                                     6          6        6
sinicaedutw                              6         10       11
tcia_data                               66         66       66
tmu                                      3          3        3
tutorial01                               2          3        5
uci_machine_learning_repository        435        435      435
v1                                       6          6        6

In [6]:
orgdata_range_download1 = orgdata_range1[orgdata_range1['download'] == True]
orgdata_range_download4 = orgdata_range4[orgdata_range4['download'] == True]
orgdata_range_download7 = orgdata_range7[orgdata_range7['download'] == True]
all_org_count_range_download1 = pd.DataFrame({'count' : orgdata_range_download1.groupby(['org']).size()}).reset_index().sort_values('count', ascending=False)
all_org_count_range_download4 = pd.DataFrame({'count' : orgdata_range_download4.groupby(['org']).size()}).reset_index().sort_values('count', ascending=False)
all_org_count_range_download7 = pd.DataFrame({'count' : orgdata_range_download7.groupby(['org']).size()}).reset_index().sort_values('count', ascending=False)


all_range_count_download = pd.merge(all_org_count_range_download1, all_org_count_range_download4, on='org')
all_range_count_download = pd.merge(all_range_count_download, all_org_count_range_download7, on='org')
all_range_count_download

                                org  count_x  count_y  count
0                         tcia_data    22613    38686  41068
1                   nchc-clean-data    18363    26382  31099
2                             False    14556    24577  28564
3                        ipgod-nchc     9583    16773  20478
4       floss-community-auto-public     5696     9221  10316
5   uci_machine_learning_repository     5433     8660  11021
6                              aidm     3587     8641  11466
7    information-security-open-data     1809     2778   2927
8                         i-scipark     1427     3124   3550
9                         narl-nspo     1226     4074   5079
10                       datamarket      882     2383   3035
11                       tutorial01      845     1359   1605
12                               v1      703     1690   2200
13                          gov-wra      480      911   1198
14                             ntuh      456     1792   2250
15                 most-acad-upload      418      547    643
16                              tmu      139      425    592
17                             noaa       58      100    102
18                  nchc_restricted       52      122    158
19                      sinicaedutw       17      318   1013
20                      most-upload        1        4      4

In [7]:
orgdata_range_download1 = orgdata_range1[orgdata_range1['download'] == True]
orgdata_range_download4 = orgdata_range4[orgdata_range4['download'] == True]
orgdata_range_download7 = orgdata_range7[orgdata_range7['download'] == True]
orgdata_range_download1_u = orgdata_range_download1.groupby(['org'])['dataset'].nunique()
orgdata_range_download4_u = orgdata_range_download4.groupby(['org'])['dataset'].nunique()
orgdata_range_download7_u = orgdata_range_download7.groupby(['org'])['dataset'].nunique()

orgdata_range_download_all_u = pd.merge(orgdata_range_download1_u, orgdata_range_download4_u, on='org')
orgdata_range_download_all_u = pd.merge(orgdata_range_download_all_u, orgdata_range_download7_u, on='org')

orgdata_range_download_all_u

                                 dataset_x  dataset_y  dataset
org
False                                    1          1        1
aidm                                    19         19       20
datamarket                               5          6        6
floss-community-auto-public             13         15       18
gov-wra                                 59         63       64
i-scipark                                9         12       12
information-security-open-data           7          7        7
ipgod-nchc                            1279       2039     2234
most-acad-upload                        10         12       19
most-upload                              1          1        1
narl-nspo                               20         21       21
nchc-clean-data                         57         78      301
nchc_restricted                          8          9       10
noaa                                     1          1        1
ntuh                                     6          6        6
sinicaedutw                              3          9       10
tcia_data                               45         58       58
tmu                                      2          2        2
tutorial01                               2          3        5
uci_machine_learning_repository        252        278      415
v1                                       6          6        6

In [8]:
print(" 使用情形 造訪1次")
all_result_page_u = pd.merge(org_attribute,all_range_count_page_u, on='org')
all_result_page_rgroup_u = all_result_page_u.groupby(['orgCate']).sum()
all_result_page_rgroup_u

 使用情形 造訪1次

             dataset_x  dataset_y  dataset
orgCate
environment          3          3        3
gov               8947      10961    19783
life               107        150      572
medicial            81         81       81
research           520        533      545
secure               9          9        9
traffic             24         24       24
voice                6         10       11

In [9]:
print(" 使用情形 累計造訪人次")
all_result_page = pd.merge(org_attribute,all_range_count_page, on='org')
all_result_page_rgroup = all_result_page.groupby(['orgCate']).sum()
all_result_page_rgroup

 使用情形 累計造訪人次

             count1  count4  count7
orgCate
environment     436     679     859
gov          108970  146350  254653
life          69069  147117  173571
medicial      60334  123663  140190
research      36155  150332  172048
secure         4272    5783    7038
traffic        3100    7402   13577
voice            97     826    2626

In [10]:
print(" 使用情形 下載1次")
all_result_dounload_u =  pd.merge(org_attribute,orgdata_range_download_all_u, on='org')
all_result_dounload_rgroup_u = all_result_dounload_u.groupby(['orgCate']).sum()
all_result_dounload_rgroup_u

 使用情形 下載1次

             dataset_x  dataset_y  dataset
orgCate
environment          1          1        1
gov               1279       2039     2234
life                70         93      319
medicial            59         72       72
research           306        340      488
secure               7          7        7
traffic             20         21       21
voice                3          9       10

In [11]:
print(" 使用情形 累計下載人次")
all_result_dounload = pd.merge(org_attribute,all_range_count_download, on='org')
all_result_dounload_rgroup = all_result_dounload.groupby(['orgCate']).sum()
all_result_dounload_rgroup

 使用情形 累計下載人次

             count_x  count_y  count
orgCate
environment       58      100    102
gov             9583    16773  20478
life           24059    35603  41415
medicial       23911    42593  46110
research       12645    24840  31482
secure          1809     2778   2927
traffic         1226     4074   5079
voice             17      318   1013

In [12]:
for dep in odict:
    result = pd.merge(org_attribute,all_range_count_page_u, on='org')
    r = result[result['department'] == dep]
    #print(r)
    rgroup = r.groupby(['orgCate']).sum()
    print(dep +" 使用情形 造訪1次")
    display(rgroup)
    print()

research_dep 使用情形 造訪1次

             dataset_x  dataset_y  dataset
orgCate
environment          3          3        3
life               107        150      572
medicial            66         66       66
research           481        484      487
secure               9          9        9
voice                6         10       11

other_dep 使用情形 造訪1次

          dataset_x  dataset_y  dataset
orgCate
medicial         15         15       15

gov_dep 使用情形 造訪1次

          dataset_x  dataset_y  dataset
orgCate
gov            8947      10961    19783
research         37         47       56
traffic          24         24       24

ind_dep 使用情形 造訪1次

          dataset_x  dataset_y  dataset
orgCate
research          2          2        2

In [13]:
for dep in odict:
    result = pd.merge(org_attribute,all_range_count_page, on='org')
    r = result[result['department'] == dep]
    #print(r)
    rgroup = r.groupby(['orgCate']).sum()
    print(dep +" 使用情形 累計造訪人次")
    display(rgroup)
    print()

research_dep 使用情形 累計造訪人次

             count1  count4  count7
orgCate
environment     436     679     859
life          69069  147117  173571
medicial      56793   95594  108781
research      30330  140624  159607
secure         4272    5783    7038
voice            97     826    2626

other_dep 使用情形 累計造訪人次

          count1  count4  count7
orgCate
medicial    3541   28069   31409

gov_dep 使用情形 累計造訪人次

          count1  count4  count7
orgCate
gov       108970  146350  254653
research    5795    9674   12360
traffic     3100    7402   13577

ind_dep 使用情形 累計造訪人次

          count1  count4  count7
orgCate
research      30      34      81

In [14]:
for dep in odict:
    result = pd.merge(org_attribute,orgdata_range_download_all_u, on='org')
    r = result[result['department'] == dep]
    #print(r)
    rgroup = r.groupby(['orgCate']).sum()
    print(dep +" 使用情形 下載1次")
    display(rgroup)
    print()

research_dep 使用情形 下載1次

             dataset_x  dataset_y  dataset
orgCate
environment          1          1        1
life                70         93      319
medicial            45         58       58
research           286        315      456
secure               7          7        7
voice                3          9       10

other_dep 使用情形 下載1次

          dataset_x  dataset_y  dataset
orgCate
medicial         14         14       14

gov_dep 使用情形 下載1次

          dataset_x  dataset_y  dataset
orgCate
gov            1279       2039     2234
research         20         25       32
traffic          20         21       21

ind_dep 使用情形 下載1次

Empty DataFrame
Columns: [dataset_x, dataset_y, dataset]
Index: []

In [15]:
for dep in odict:
    result = pd.merge(org_attribute,all_range_count_download, on='org')
    r = result[result['department'] == dep]
    #print(r)
    rgroup = r.groupby(['orgCate']).sum()
    print(dep +" 使用情形 累計下載人次")
    display(rgroup)
    print()

research_dep 使用情形 累計下載人次

             count_x  count_y  count
orgCate
environment       58      100    102
life           24059    35603  41415
medicial       22613    38686  41068
research       10799    21165  27285
secure          1809     2778   2927
voice             17      318   1013

other_dep 使用情形 累計下載人次

          count_x  count_y  count
orgCate
medicial     1298     3907   5042

gov_dep 使用情形 累計下載人次

          count_x  count_y  count
orgCate
gov          9583    16773  20478
research     1846     3675   4197
traffic      1226     4074   5079

ind_dep 使用情形 累計下載人次

Empty DataFrame
Columns: [count_x, count_y, count]
Index: []